body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;

    background: url('./fading-blue-background.jpg');
    background-repeat: no-repeat;
    background-position: center;

    color: snow;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

button {
    padding: 8px;
    background-color: snow;
    border: 1px solid snow;
    /* box-shadow: 2px 3px black; */
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-container>h2 {
    margin: 0;
    font-size: 48px;
}

.options-container>p {
    font-size: 18px;
}

.grid-options-container{
    display: flex;
    width: 353px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.color-options-container{
    display: flex;
    width: 353px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.game-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width:960px;

    background-color: #fff;
}

.grid-cell {
    border: 1px solid black;
    /* height: 55px;
    width: 55px; */
    margin: 0;
}

.background-black {
    background-color: black;
}